name: CI

on: ['push', 'pull_request']

jobs:
  tests:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        php: [8.1, 8.2]
        laravel: [8.*, 9.*, 10.*, 11.*]
        exclude:
          - laravel: 10.*
            php: 8.0
          - laravel: 11.*
            php: 8.0
          - laravel: 11.*
            php: 8.1

    name: PHP ${{ matrix.php }} on Laravel ${{ matrix.laravel }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
    - name: Install dependencies
      run: |
        composer require "illuminate/console:${{ matrix.laravel }}" "illuminate/database:${{ matrix.laravel }}" "illuminate/support:${{ matrix.laravel }}" --no-interaction --no-update
        composer update
    - name: Run tests
      run: vendor/bin/phpunit